.checkout__wrapper {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  label {
    font-size: 1rem;
    font-style: italic;
  }
  input {
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    margin: 0.2rem 0rem 0.5rem 0rem;
  }
}
.checkout__wrapper-list {
  width: 45%;
}
.checkout__wrapper-form {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.checkout__wrapper-pay {
  width: max-content;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0.1rem solid #7c7575;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background: #aa9b8e;
  }
}
#buyer-address {
  height: 2rem;
}