.checkout__wrapper {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  label {
    font-size: 1rem;
    font-style: italic;
  }
  input,
  fieldset,
  select {
    border: 0.1rem solid #7c7575;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    margin: 0.2rem 0rem 0.5rem 0rem;
  }
  fieldset {
    text-align: center;
    input {
      margin: 0rem 1rem;
    }
  }
  input:required:invalid  {
    border: 0.1rem solid #b84343;
  }
}
.checkout__wrapper-list {
  width: 45%;
}
.checkout__wrapper-remove {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
  vertical-align: middle;
  color: #b84343;
}
.checkout__wrapper-form {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.checkout__wrapper-pay {
  width: max-content;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0.1rem solid #7c7575;
  margin: 1rem auto;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background: #aa9b8e;
  }
}
.checkout__error {
  position: fixed;
  width: 30rem;
  height: 4rem;
  top: 40%;
  left: calc(50% - 15rem);
  font-size: 4rem;
  color: #6e2626;
  opacity: 0.8;
  text-align: center;
}