header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 90%;
  background: #b8906f;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: italic;
}