.modal__window {
  position: fixed;
  left: calc(50% - 20rem);
  top: calc(50% - 10rem);
  width: 40rem;
  background: #ffffff;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 10;
  img {
    width: 20rem;
    border-radius: 1rem;
  }
}
.modal__window-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}
.modal__window-info {
  width: 50%;
  margin: 2rem 1rem;
  font-size: 1.2rem;
  font-style: italic;
  list-style: none;
  li {
    margin: 1rem;
  }
}
.modal__window__title {
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
}
.modal__window__author {
  &::before {
    content: 'Author: ';
  }
}
.modal__window-country {
  &::before {
    content: 'Country: ';
  }
}
.modal__window-language {
  &::before {
    content: 'Language: ';
  }
}
.modal__window-year {
  &::before {
    content: 'Year: ';
  }
}
.modal__window-pages {
  &::before {
    content: 'Pages: ';
  }
}
.modal__window-link {
  &::before {
    content: 'Additional info: ';
  }
}
.modal__window-buy {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0.1rem solid #7c7575;
  margin: 0.3rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background: #aa9b8e;
  }
}
.basket__wrapper {
  position: absolute;
  left: -26rem;
  top: 2.7rem;
  width: 25rem;
  background: #ffffff;
  font-size: 1.2rem;
  border: 0.1rem solid #000000;
  border-radius: 1rem 0rem 1rem 1rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  opacity: 0.9;
}
.basket__wrapper-checkout {
  width: max-content;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0.1rem solid #7c7575;
  margin: 0.3rem auto;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background: #aa9b8e;
  }
}