nav {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px dotted #b8906f;
  img {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0.2rem;
    cursor: pointer;
  }
}
.basket {
  cursor: pointer;
  position: relative;
}
.basket__counter {
  // border: 0.1rem solid #000000;
  // border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: -0.7rem;
  top: 0.5rem;
  opacity: 0.9;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600; 
  color: #af2f2f;
}