nav {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px dotted #b8906f;
  img {
    width: 2rem;
    height: 2rem;
  }
}
.nav__search {
  display: flex;
  align-items: center;
  label {
    font-size: 1.3rem;
  }
  input {
    border-radius: 1rem;
    margin: 1rem 0.2rem;
    padding: 0.2rem 0.5rem;
    background: #f0f0f0;
    &:hover {
      background: #ffffff;
    }
  }
}
.basket {
  cursor: pointer;
  position: relative;
}
.basket__counter {
  // border: 0.1rem solid #000000;
  // border-radius: 50%;
  // width: 1.2rem;
  // height: 1.2rem;
  position: absolute;
  left: -0.7rem;
  top: -0.7rem;
  opacity: 0.9;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600; 
  color: #af2f2f;
}